# Python artifacts
.venv
__pycache__

# Ignore all executables and object files.
*.O
*.TOS
*.UT

# Executables
geo_dash
*.exe

# Make sure to keep the files in our tests directory.
!test*.c
!src/tests/

# Coverage files
*.gcov
*.gcda
*.gcno
