# Created by venv; see https://docs.python.org/3/library/venv.html
/.venv/
__pycache__/

# Also removes all instances of these files,
# I added it as I was creating some in other directories. 
# Remove if you dont want them removed globally.
__pychache
.venv